body {
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
}

h4 {
  color: #3046c5;
}

header h4 {
  color: #74718f;
}

h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
}

header h6 {
  color: #74718f;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

p {
  color: #373641;
}

.site-footer {
  background-image: linear-gradient(#000000, rgb(54, 1, 34));
  padding: 50px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #0d023a, #5b1464);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #000000;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  width: 100%;
  left: 0;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption p {
  color: #a7a7be;
}

.btn {
  background-color: #220707;
  font-size: 1rem;
}

.btn-info {
  color: #fff;
  background-color: #220707;
  border-color: #17a2b8;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 700px;
}

.bg-info {
  background-color: #5b1464;
}
